[submodule "tools_scripts/privilege-escalation-awesome-scripts-suite"]
	path = tools_scripts/privilege-escalation-awesome-scripts-suite
	url = https://github.com/carlospolop/privilege-escalation-awesome-scripts-suite
[submodule "tools_scripts/impacket"]
	path = tools_scripts/impacket
	url = https://github.com/SecureAuthCorp/impacket
[submodule "tools_scripts/PayloadsAllTheThings"]
	path = tools_scripts/PayloadsAllTheThings
	url = https://github.com/swisskyrepo/PayloadsAllTheThings
